.App {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form input {
  width: 200px;
  height: 40px;
  margin: 10px;
  font-size: 25px;
}

.card {
  width: 18rem;
}
