* {
  margin: 0;
  padding: 0;
}
body {
}
.navmenu {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

p {
  font-size: 25px;
  font-family: sans-serif;
  line-height: 2.5;
}

li {
  font-size: 20px;
  font-family: sans-serif;
  margin-bottom: 10px;
  list-style: square;
}
.curso-css {
  font-size: 26px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: rgba(78, 124, 35, 0.5);
  font-style: italic;
}
#lista-2 li:first-child {
  font-weight: bold;
  color: rgba(80, 222, 99, 0.7);
}

#lista-2 li:last-child {
  font-style: italic;
}

li:nth-child(even) {
  color: royalblue;
}
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}
a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline dotted orangered;
}
a:active {
  background-color: black;
  font-style: italic;
}
.main-header {
  background-color: #f7f7f7;
  margin-bottom: 20px;
  padding: 20px;
  padding-left: 40px;
  padding-right: 40px;
}

h3 {
  font: size 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-transform: uppercase;
  text-align: center;
}

h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}
h2::first-letter {
  font-size: 80px;
}
